.navbar{
    background-color: #457371;  
}

.navbar-brand{
    color: white;
    font-family: sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 200;
    letter-spacing: 2px;
}

.nav-item a{
    font-family: sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 200;
    letter-spacing: 2px;
}

.nav-item a:hover{
    animation: fadeSmall 1s;
}

@keyframes fadeSmall{
    0% {
        opacity:  0.5;
        transform: scale(0.9,0.9);
      }
      50% {
        transform:  none;   
      }
      100% {
        opacity: 1;
      }
}

.intro-wrapper{
  background-color: #457371;
  padding: 3% 5% 5% 5%;
}

.intro-wrapper p{
  font-size: 16.5px;
}

h1{
  color: white;
  text-transform: uppercase;
  font-weight: 200;
  margin-bottom: 5%;
}

h5{
  font-family: sans-serif;
  font-size: 18px;
}

p{
  font-family: sans-serif;
  font-weight: 300;
  font-size: 18px;
  margin: 0;
}

.col-md-9{
  color: white;
  padding:0;
}

.hr-top{
  border: none;
  height: 4px;
  color: white;
  background-color: white;
}

hr{
  border: none;
  height: 1px;
  color: white;
  background-color: white;
  margin-top: 0.50em;
  margin-bottom: 0.40em;
}

.project-info h5{
  color: white;
}

.project-info p{
  color: white;
  line-height: 1.10;
}

.skip-to p{
  color: white;
}

.skip-to a{
  color: white;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 14px;
  text-decoration: underline;
}

.skip-to a:hover{
  animation: fadeSmall 1s;
}

.image-wrapper-intro{
  padding: 3% 2% 2% 2%;
}

.image-wrapper{
  background-color: white;
  padding: 2% 2% 2% 2%;
}

.content-wrapper{
  background-color: white;
  padding: 0 15% 0 15%;
}

h2{
  padding-bottom: 2%;
}

.sketch{
  display: flex;
  justify-content: flex-end;
  position: relative;
}

#sketch{
  padding-top: 3%;
}

.caption{
  color: grey;
  font-size: 14px;
  margin: auto;
  margin-top: 0;
  text-align: center;
}

.data{
  height: 90%;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

#personas{
  height: 60%;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1%;
}

#ia{
  height: 40%;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

#wireframes{
  height: 100%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#style-guide{
  border-style: none;
  height: 40%;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1%;
}

.prototype-images img{
  width: 100%;
  box-shadow: 0 0 10px grey;
}

.prototype{
  margin-top: 2%;
  height: 100%;
  width: 100%;
}

.prototype video{
  height: 80%;
  width: 100%;
}

button{
  cursor: pointer;
  width: 175px;
  border: none;
  background: #457371;
  padding: 8px;
  font-family: 'Nunito', sans-serif;
  font-weight: 500;
  font-size: .75em;
  letter-spacing: .2em;
  color: white;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.end_buttons{
  text-align: center;
  padding-bottom: 2em;
}

.end_buttons button{
  width: 50%;
  margin-bottom: 1em;
}

.end_buttons button:hover{
  animation: fadeSmall 1s;
}

#back{
  display: block;
  text-align: center;
  font-family: 'Nunito', sans-serif;
  font-weight: 500;
  font-size: .9em;
  letter-spacing: .2em;
  text-decoration: underline;
}

a{
  color: black;
}

.copy-right{
  color: #457371;
  font-family: 'Nunito', sans-serif;
  font-size: 12px;
  text-align: center;
  padding-bottom: 1%;
  font-weight: 100;
  letter-spacing: 0.8px;
}