html,body
{
  margin:0;
  padding:0;
  font-family: serif, sans-serif, Helvetica;
  font-size: 100%;
}

h1, h2 {
	font-family: courier;
	font-size: 30pt;
	text-transform: uppercase;
	letter-spacing: 2pt;
	color: #6B8E23;
}

h4 {
	font-family: serif;
	text-transform: uppercase;
}

#main_container
{
  width:800px;
  margin:auto;
}

header 
{
	height:220px;
	width:750px;
	background:url(KoaliHeader.jpg);
}

/* Drop down menu */
#navbar {
	margin: 0; /* moves the drop down menu further from the left edge of page */
	padding: 0;
	height: 20px; 
} 
#navbar li {
   list-style: none;  /* ensures that the lists do not have bullet points */
   float: left; 
   text-decoration: none;
}
#navbar li a {
   display: block;
   padding: 3px 8px;
   background-color: #FFDEAD;  /* background color for the title */
   color: black;
   text-decoration: none;
}
#navbar li ul {
   display: none; 
   width: 10em; /* Width to help Opera out */
   background-color: white;
}
#navbar li:hover ul, #navbar li.hover ul {  /* ensures list drops down when hover over */
   display: block;
   position: absolute; /* make sure other bars do not move */
   margin: 0;
   padding: 0; 
}
#navbar li:hover li, #navbar li.hover li {
	float: none; 
}  /* ensures the list drops down vertically */
#navbar li:hover li a, #navbar li.hover li a {
   background-color: #FFDEAD; /* background color for the drop down menu */
   border-bottom: 1px solid #fff;
   color: black; 
} 

body
{
	background-color: white;
}

img{ float:right; }

#sidebar 
{ 
  float: left;
  width:200px;
  height:430px;
  padding-top:20px;
  padding-right:15px;
  padding-bottom:0;
  padding-left:15px;
  background-color:#FFDEAD; 
  font-family: futura;
  font-size: 10pt;
}

#content {
  margin-left:230px; 
  padding-left:20px;
  padding-right:0;
  padding-bottom:0;
  padding-top:0;
}

footer 
{
  clear:both;
  text-align:center;
  padding-top:10px;
  padding-bottom: 10px;
  background-color:#FFDEAD;
  font-family: arial;
  color:#8B4513;
  font-size: 12pt;
  height: 50px;
}
