.navbar{
    background-color: #457371;
}

.navbar-brand{
    color: white;
    font-family: sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 200;
    letter-spacing: 2px;
}

.nav-item a{
    font-family: sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 200;
    letter-spacing: 2px;
}

.nav-item a:hover{
    animation: fadeSmall 1s;
}

@keyframes fadeSmall{
    0% {
        opacity:  0.5;
        transform: scale(0.9,0.9);
      }
      50% {
        transform:  none;   
      }
      100% {
        opacity: 1;
      }
}

#about-section{
    background-color: #457371;
    padding-bottom: 3%;
}

@keyframes fadeInUp{
    from{ top: 40px; opacity: 0;}
    to{ top: 0px; opacity: 1.0;}
}

.profile-picture{
    display: inline-block;
    width: 50%;
    box-sizing: unset;
    position: relative;
    animation: fadeInUp 2s;
}

.profile-picture img{
    padding-left: 15%;
}

.img-fluid{
    height: auto;
    width: 90%;
}

.content{
    padding-top: 8%;
    padding-left: 10%;
    display: inline-block;
    width: 40%;
    vertical-align: top;
    position: relative;
    animation: fadeInUp 2s;
}

section h1{
    color: white;
    font-family: sans-serif;
    font-size: 50pt;
    font-weight: 200;
}

section p{
    color: white;
    font-family: 'Nunito', sans-serif;
    font-size: 11pt;
    font-weight: 100;
    line-height: 1.5em;
    padding-top: 3px;
}

.icons{
    display: inline-block;
    width: 50%;
    vertical-align: top;
    margin-left: 15%;
    margin-right: 30%;
    margin-top: 3%;
}

.icons img{
    width: 50px;
    margin-left: 5%;
}

.icons img:hover{
    animation: fadeSmall 1s;
}

.icons button{
    cursor: pointer;
    border-style: none;
    background-color: transparent;
}

#project-section{
    margin: 5%;
}

#tutorfly_content{
    display: inline-block;
    width: 40%;
    padding-left: 5%;
}

#tutorfly_video{
    display: inline-block;
    width: 55%;
    overflow: auto;
}

#blog_video{
    width: 100%;
    padding-left: 4%;
}

#museo{
    padding-top: 3%;
}

#museo_content{
    display: inline-block;
    width: 40%;
    padding-left: 5%;
}

#museo_video{
    display: inline-block;
    width: 55%;
    overflow: auto;
}

#app_video{
    width: 100%;
}
button{
    cursor: pointer;
    width: 50%;
    border: none;
    background: #457371;
    padding: 8px;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: .75em;
    letter-spacing: .2em;
    color: white;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    align-items: center;
}

button:hover{
    animation: fadeSmall 1s;
}
